@model HomeVM
<h1>Home index</h1>
<div class="container">
    <div class="row">
        <ul class="list-group-item">
         @foreach (var item in Model.Students)
            {
                  <li class="list-group-item">@item.Name @item.Surname</li>
                
            }
        </ul>
    </div>
      <div class="row">
        <ul class="list-group-item">
            @foreach (var item in Model.Groups)
            {
                      <li class="list-group-item">@item.Name</li>

            }
        </ul>
    </div>
</div>